{{#if user}}
    <h1>Welcome {{user.username}}!</h1>
{{else}}
    <h1>Welcome to Buzzer!</h1>
{{/if}}

{{#if tweets}}
    <div class="tweets">
        {{#each tweets}}
            <div class="tweet">
                <span class="username">{{user.username}}</span>
                <p>{{text}}</p>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>No tweets to display.</p>
{{/if}}
